.link {
  cursor: pointer;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: canter;
  align-items: center;
  height: 100vh;
}
.label-text {
  margin-right: 20px;
}
.input-control {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.form-control {
  margin: 20px;
}
.button-control {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.signIn {
  margin-top: 15px;
}
