.chat-messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10%;
  padding: 30px 120px 30px 58px;
}

.user-one {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 122px;
}
.user-one-text-container {
  width: 386px;
  height: 148px;
  border-radius: 10px;
  background-color: #2196f3;
}

.message-container {
  display: flex;
  margin-left: 58px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.user-avatar {
  display: flex;
  margin-top: 7px;
  margin-right: 20px;
}
.text-container {
  width: 386px;
  height: 148px;
  border-radius: 10px;
  background-color: #ffffff;
}
